<!DOCTYPE html>
<html>
<%- include('./modules/head') %>
<body>
  <%- include('./modules/header', {
    title: 'Boilerplate',
  }) %>
  <main>
    <h1>Hello World!</h1>
    <p>Everything seems to be working.</p>
  </main>
  <%- include('./modules/footer') %>
</body>
</html>
