<!-- Footer start -->
<footer>
  For more information check <a target="_blank"
    href="https://gitlab.com/bernhardkelm/gulp-static-page-boilerplate#readme">the documentation</a>
</footer>
<!-- Footer end -->
