<!-- Head start -->
<head>
  <title>Static Boilerplate</title>
  <!--Viewport and HTML Settings-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="content-language" content="en_US">
  <meta name="language" content="English">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="/css/main.min.css">
  <script src="/js/script.min.js" defer></script>
</head>
<!-- Head end -->
