// CSS Resets
input,
label,
select,
button,
textarea {
  border: 0;
  vertical-align: middle;
  white-space: normal;
  background: none;
}

*:focus {
  outline: none;
}

input,
textarea {
  box-sizing: content-box;
  -webkit-border-radius: 0px;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  box-sizing: border-box;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

::-webkit-search-decoration {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

::-webkit-file-upload-button {  
  padding: 0;
  border: 0;
  background: none;
}

textarea {
  /* Move the label to the top */
  vertical-align: top;
  
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}
